@using System.Security.Principal

@if (User.Identity?.IsAuthenticated == true)
{
    <ul class="navbar-nav">
        <li class="nav-item woodgrove-nav-space">
            <div style="width: 10px;"></div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark woodgrove-header-link" href="/profile" style="white-space: nowrap;">Hello <span>@User.Identity.Name</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" role="button" href="@Url.Content("~/MicrosoftIdentity/Account/SignIn")">Sign in</a>
        </li>
    </ul>
}
